.profile {
    display: flex;
    padding: 34px 0 20px;
    border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__edit-button {
margin-top: 18px;
border: none;
background-color: #FCF5E5;
color: rgba(33, 33, 33, 0.7);
font-family: "Poppins", "Arial", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 100%;
display: flex;
align-items: center;
gap: 8px;
transition: background-color 0.3s ease;
cursor: pointer;

}

.profile__edit-button:hover {
color: rgba(33, 33, 33, 1);
}

.profile__add-button {
    margin-left: auto;
    background-color: rgba(33, 33, 33, 1);
    color: #FCF5EF;
    width: 149px;
    height: 52px;
    border-radius: 8px;
    border: none;
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    align-self: flex-end;
    transition: background-color 0.3s ease;
    cursor: pointer;


    
    
    
}
.profile__add-button:hover {
    background-color: rgba(33, 33, 33, 0.8);
    
}

.profile__avatar {
    margin-right: 20px;
    height: 190px;
    width: 190px;
    border-radius: 8px;

}

.profile__column {
    display: flex;
    flex-direction: column;
}

.profile__description {
margin: 0;
font-family: "Poppins", "Arial", sans-serif;
 font-weight: 500;
 font-size: 16px; 
line-height: 100%;
color: rgba(33, 33, 33, 0.7);
display: -webkit-box;
overflow: hidden;
text-overflow: ellipsis;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
max-width: 420px;

}

.profile__name {
    margin: 0 0 12px;
    font-size: 32px;
    font-family: "Poppins", "Arial", sans-serif;
    line-height: 100%;
    font-weight: 500;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 420px;



}

@media screen and (max-width:627px) {
    .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    
    }
.profile__avatar {
    height: 80px;
    width: 80px;
    margin: 0 0 12px;
     
}
.profile__add-button {
    margin: 0px;
    width: 100%;
}

.profile__name {
    margin: 0 0 6px;
    max-width: 288px;
}

.profile__column {
    margin: 0 0 20px;
}

.profile__description {
margin: 0 0 32px;
text-align: center;
max-width: 288px;
}

}
